<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= cl_image_tag @item.photo, height: 300, width: 400, crop: :fill %>
    </div>

    <div class="col-xs-6">
      <div class="col-xs-6">
        <h2><%= @item.name %></h2>
      </div>
      <div class="col-xs-6 text-right">
        <h2><%= @item.value %> GBP</h2>
      </div>

      <br>

      <table class="table">
        <thead>
          <th> User </th>
          <th> Ownership </th>
          <th> Spent </th>
          <th> Owed </th>
        </thead>
        <tbody>
        <% @shares.each do |share| %>
          <tr>
            <td><%= share.user.first_name %> <%= share.user.last_name %></td>
            <td><%= share.percentage.round(0) %> %</td>
            <td><%= share.spent %> GBP</td>
            <td><%= (((@item.value)*(share.percentage/100)) - (share.spent)).round%> GBP </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-xs-12">
      <h2>Add a friend sharing ownership of this item with you</h2>

      <%= simple_form_for [@item, @share] do |f| %>
          <%= f.association :user, collection: current_user.friends, label_method: :first_and_last_name%>
          <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
