<div class="container">
  <%= link_to "New Item", new_item_path, class: "btn btn-primary" %>
  <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-warning" %>
  <%= link_to "Add Friends", friendships_path, class: "btn btn-warning" %>
  <div class="row">
    <% @items.each do |item| %>
    <div class="col-xs-4">
        <%= cl_image_tag item.photo, height: 300, width: 400, crop: :fill %>
        <div class="col-xs-6">
          <h3><%= item.name %></h3>
        </div>
        <div class="col-xs-6">
          <h3><%= item.value %> GBP </h3>
        </div>
    </div>
    <%end%>
  </div>
</div>
