
<div class="container">
  <div class="row">
      <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%=image_path 'fairshares.png'%>);">
        <div class="banner-content text-left">
          <h1>Fairshares.</h1>
          <h1>Own together.</h1>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10", style="display:inline">
      <div class="col-xs-4">
        <p>I'm interested in this type of item</p>
      </div>
      <div class="col-xs-5 search-box form-inline">
      <%= simple_form_for @item, :url => items_path, :method => :get do |f|%>
        <%= f.input :category, :prompt => "Anything!", label: false, collection: Item::CATEGORIES %>
        <%= f.submit "Show me what you got!" %>
      <% end %>
      </div>
    </div>
    <div class="col-xs-2">
      <%= link_to "New Item", new_item_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row">
    <% @items.each do |item| %>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padded2">

      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path item.photo, height: 280, width: 318, crop: :scale %>)">

        <div class="card-description">
          <div class="col-xs-12">
            <div class="text-left">
            <h4><%=item.name%> </h4><h5><%=item.value%> GBP</h5>
            </div>
          </div>
        </div>
        <img class="card-user avatar-square" src="<%= cl_image_path item.user.photo, height: 280, width: 318, crop: :scale %>">
        <a class="card-link" href="items/<%=item.id%>" ></a>
      </div>


    </div>
    <%end%>
  </div>
</div>

<!-- style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');" -->


