<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Browse Items</h1>
      </div>
    </div>
    <div class="row">
    <% @items.each do |item| %>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padded2">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path item.photo, height: 280, width: 318, crop: :scale %>)">

            <div class="card-description">
              <div class="col-xs-12">
                <div class="text-left">
                  <h4><%=item.name%> </h4><h5><%=item.value%> GBP</h5>
                </div>
              </div>
            </div>
            <img class="card-user avatar-square" src="<%= cl_image_path item.user.photo, height: 280, width: 318, crop: :scale %>">
            <a class="card-link" href="items/<%=item.id%>" ></a>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>



<h1>React version</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= react_component "ItemList",
      render(template: 'items/index.json.jbuilder')%>
    </div>
  </div>
</div>







