<h1>Items#new</h1>
<%= simple_form_for @item do |f| %>
  <p>Name<p>
    <%= f.input :name %>
  <p>Description<p>
    <%= f.input :description %>
  <p>Value<p>
    <%= f.input :value %>
    <%= f.submit %>
<% end %>
