<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12 page-title">
          <h1>New Item</h1>
          <%= simple_form_for @item, :url => items_path, :method => :post do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :value %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
