<div class="container">
  <div class="row">
    <br>
    <div class="col-xs-12 well">
      <div class="col-xs-12 col-sm-6">
        <%= cl_image_tag @item.photo, height: 300, width: 400, crop: :fill %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="col-xs-6">
          <h2><%= @item.name %></h2>
        </div>
        <div class="col-xs-6 text-right">
          <h2><%= to_currency(@item.value)%></h2>
        </div>
        <div class="col-xs-12">
          <p><%=@item.description%></p>
        </div>
        <br>
          <% if @shares != [] %>
            <table class="table">
              <thead>
                <th> User </th>
                <th> Postcode </th>
                <th> Ownership </th>
                <th> Spent </th>
                <th> Owed </th>
              </thead>
              <tbody>
                <% @shares.each do |share| %>
                  <% if @item.place.postcode == share.user.place.postcode %>
                    <tr class="highlighted">
                      <td><%= share.user.first_name %> <%= share.user.last_name %></td>
                      <td><%= share.user.place.postcode %></td>
                      <td><%= share.percentage.round(0) %> %</td>
                      <td><%= to_currency(share.spent) %></td>
                      <td><%= to_currency(-(((@item.value)*(share.percentage/100)) - (share.spent)).round)%></td>
                    </tr>
                  <% else %>
                    <tr>
                      <td><%= share.user.first_name %> <%= share.user.last_name %></td>
                      <td><%= share.user.place.postcode %></td>
                      <td><%= share.percentage.round(0) %>%</td>
                      <td><%= to_currency(share.spent) %></td>
                      <td><%= to_currency(-(((@item.value)*(share.percentage/100)) - (share.spent)).round)%></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          <% end %>
      </div>
    </div>

  <% if @shares != [] %>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="col-xs-12">
          <div class="col-xs-12 form-inline booking-box">
            <%= simple_form_for([@item, @booking], remote: true, :url => item_bookings_path(@item), :method => :post) do |f| %>
              <%= f.input :start_time %>
              <%= f.input :end_time %>
              <%= f.submit "Book", class:"btn btn-primary", id:"calendar-book-submit" %>
            <% end %>
          </div>
          <div id="bookings">
            <%= month_calendar events: @bookings do |date, bookings| %>
              <div class="calendar-day">
                <%= date.day %>
              </div>
              <div id="bookings-names">
                <% bookings.each do |booking| %>
                  <div>
                    <%= booking.user.first_name %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div id="map" style="width: 100%; height: 500px;"></div>
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              var handler = Gmaps.build('Google');
              handler.buildMap({
                provider: {
                  disableDefaultUI: false,
                  <!-- add google maps options here -->
                },
                internal: {
                  id: 'map'
                }
              },
              function() {
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                if (markers.length == 0) {
                  handler.getMap().setZoom(2);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
              });
              <!--  -->

              <!--  -->
            });
          <% end %>
        <% end %>
  <% end %>
      <div class="text-right"">
        <br>
        <%= link_to "< Back", shares_path, class: "btn btn-default" %>
      </div>
    </div>

  </div>
</div>





